<%= form_tag "/sessions" do %>
  <ul style="list-style-type: none;">
    <li>
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password_digest %>
    </li>
    <%= submit_tag "Sign in" %>
  </ul>

<% end %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>