<div class="bottom_hero">
Register for Rantly!

<%= form_for @user do |f| %>
<ul style="list-style-type: none;">
  <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password_digest %>
  </li>
  <li>
     <%= f.submit "Register" %>
  </li>
</ul>
<% end %>
</div>