<div class="bottom_hero">
  <div class="login_form">
    Register for Rantly!

    <%= form_for @user do |f| %>
      <ul style="list-style-type: none;">
        <li class="form_field">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </li>
        <li class="form_field">
          <%= f.label :email %>
          <br/>
          <%= f.text_field :email %>
        </li>
        <li class="form_field">
          <%= f.label :password %>
          <br/>
          <%= f.password_field :password %>
        </li>
        <li class="register_button">
          <%= f.submit "Register" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>