<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class="clearfix">
<h1>Rant.ly</h1>
<nav class="navbar">

  Login
<%= link_to "Join", new_users_path %>


</nav>
</header>
<body>

<%= yield %>

</body>
</html>
